<div class="row">
    <div class="col-md-2">
        Mnemonic:
    </div>
    <div class="col-md-6">
        <textarea class="form-control" rows="5" id="mnemonic"></textarea>
    </div>
</div>
<br/>
<br/>

<button class="btn btn-success" id="restore-page">Restore</button>
<br/>
<br/>

<div class="row">
    <div class="col-md-2" id="label" style="display: none">
        Private Key:
    </div>
    <span class="col-md-6" id="privateKey"></span>
</div>